#fermate_metro {
  marker-width: 5;
  marker-fill: hotpink;

  [FERMATA="CORDUSIO"]{
    marker-width: 12;
    marker-fill: crimson;
    stroke-width: 4;
  };

  [FERMATA="LORETO"]{
    marker-width: 15;
    marker-fill: skyblue;
  };

};
